@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* button square and circle without overflow */
  .btn-square,
  .btn-circle {
    overflow: hidden;
  }

  /* center vertical elements when input has a label */
  .form-control {
    @apply items-center;
  }

  /* add w-fit  */
  div.form-control:has(.checkbox, .toggle) {
    @apply w-fit;
  }

  /* alpha range */
  .range-reverse {
    transform: scaleX(-1);
  }

  .range-vertical {
    transform: rotate(-90deg);
  }

  .range-reverse.range-vertical {
    transform: scaleY(-1) rotate(-90deg);
  }

  .range-padding-x-xs {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .range-padding-x-sm {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .range-padding-x-md {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .range-padding-x-lg {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* end alpha range */

  /* input ever width 100% */
  .input {
    @apply w-full;
  }

  /* label has */

  .form-control:has(.input) .label-text {
    @apply py-[8px];
  }
  /* Margin for vertical inputs*/
  /* TODO posible variable depndiendo del size */
  .form-control:has(.input) .label-text,
  div:has(.form-control):has(.input) .label-text-alt {
    @apply mx-[0.3rem];
  }

  .toggle-error {
    border-color: hsl(var(--er));
  }

  /* TODO var margin for horizontal inputs */
  /* Margin for horizontal inputs*/
  /* input in left */
  .form-control:not(.flex-row-reverse, :has(.input)) .label-text {
    margin-right: 0.666rem;
  }

  .form-control:not(.flex-row-reverse):has([class$='-xs']) .label-text {
    margin-right: 0.5rem;
  }

  .form-control:not(.flex-row-reverse):has([class$='-sm']) .label-text {
    margin-right: 0.583rem;
  }

  .form-control:not(.flex-row-reverse):has([class$='-lg']) .label-text {
    margin-right: 0.75rem;
  }

  /* input in right */
  .form-control.flex-row-reverse .label-text {
    margin-left: 0.666rem;
  }

  .form-control.flex-row-reverse:has([class$='-xs']) .label-text {
    margin-left: 0.5rem;
  }

  .form-control.flex-row-reverse:has([class$='-sm']) .label-text {
    margin-left: 0.583rem;
  }

  .form-control.flex-row-reverse:has([class$='-lg']) .label-text {
    margin-left: 0.75rem;
  }
}
